/* Some global styling */
body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  min-height: 100vh;
  font-family: "PlayfairDisplay-Bold", sans-serif;
}

@font-face {
  font-family: "PlayfairDisplay-Bold";
  src: url(fonts/PlayfairDisplay-Bold.ttf);
}

@font-face {
  font-family: "PlayfairDisplay-Regular";
  src: url(fonts/PlayfairDisplay-Regular.ttf);
}

@font-face {
  font-family: "PlayfairDisplay-Italic";
  src: url(fonts/PlayfairDisplay-Italic.ttf);
}

/* entire header and footer background colour */
.header, .footer{
  background-color: #FAF3E0;
}

/* entire header (beige part) */
.header{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 48px;
  padding-right: 48px;
  padding-top: 16px;
  padding-bottom: 16px;
}

/* top banner in header */
.banner{
  display: flex;
  justify-content: space-between;
}

/* list in banner */
a {
  /* this removes the line under the links */
  text-decoration: none;
  color: #2E2E2E;
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 48px;
  margin: 0;
  padding: 16px;
  font-family: "PlayfairDisplay-Italic", sans-serif;
}

/* entire content section of the header */
.content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

/* entire text part of the content of the heading */
.content .text{
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
  margin: 0;
  gap: 20px;
  font-size: 18px;
  font-family: "PlayfairDisplay-Bold", sans-serif;
}

/* heading of text component in the content of the heading */
.content .text .heading{
  font-size: 36px;
  font-weight: 900;
}
.content .text .paragraph{
  font-family: "PlayfairDisplay-Italic", sans-serif;
}

/* sign-up button in header */
.content .text button{
  width: 100px;
  height: auto;
  padding: 8px 16px;
  background-color: #F09917;
  border-radius: 10px;
  border-color: #2E2E2E;
  font-family: "PlayfairDisplay-Bold", sans-serif;
}

.footer{

}




